*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    background-image: transparent;
    padding: 30px 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 900;
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar a{
    position: relative;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    margin-left: 45px;
}
.navbar a::after{
    position: absolute;
    content: '';
    right: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 8px;
    transition: all ease .45s;
}
.navbar a:hover::after{
    width: 100%;
}
.btnLogin-popup{
    display: inline-block;
    padding: 8px 32px;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 45px;
    cursor: pointer;
    transition: all ease .45s;
}
.btnLogin-popup:hover::after{
    tranform: scale(1.1);
    background: #fff;
    border: 2px solid #fff;
    color: #162928;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../picture/background.jpg);
}


.footer{
    background-color: black;
    color: #fff;
    padding: 70px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 5px 0.1%;
    font-size: small;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    line-height: 40px;
}

.row .social-links a{
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: rgba(255,255,255,0.2);
    font-size: 20px;
    margin: 0 10px 10px 0;
    transition: 0.5s;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
    margin-right: 15px;
    cursor: pointer;
    
}
.footer-col .social-links a:hover{
    color:#24262b;
    background-color: #ffffff;
}
/*Extra mess for sifat*/

/*responsive*/
@media (min-width: 1012px)
.p-responsive {
    padding-right: var(--base-size-16, 16px) !important;
    padding-left: var(--base-size-16, 16px) !important;
}
@media (: 500px)
.p-responsive {
    padding-right: var(--base-size-16, 16px) !important;
    padding-left: var(--base-size-16, 16px) !important;
}
